@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://github.com/coding812/ApplicationTracker" target="_blank">About Application Tracker</a>
            <a href="https://www.stevemillertime.com/" target="_blank">About Developer</a>
        </div> *@
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
