@page "/"
@using ApplicationsHelper
@inject NavigationManager Navigation
@inject DatabaseHelper DatabaseHelper


<h3>Enter Applications Here</h3>


<EditForm   Model="@newApplication" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="d-flex row">
        <div class="col mb-3">
            <label for="companyName" class="form-label">Company Name</label>
            <InputText class="form-control" id="companyName" @bind-Value="newApplication.CompanyName"  />
        </div> 
        <div class="col mb-3">
            <label for="contactName" class="form-label">Contact Name</label>
            <InputText class="form-control" id="contactName" @bind-Value="newApplication.ContactName"  />
        </div>
    </div>
    <div class="d-flex row">
        <div class="col mb-3">
            <label for="dateApplied" class="form-label">Date Applied</label>
            <InputDate @bind-Value="newApplication.DateApplied" class="form-control" id="dateApplied" />
        </div>
        <div class="col mb-3">
            <label for="followUp" class="form-label">Follow Up Date</label>
            <InputDate @bind-Value="newApplication.FollowUp" class="form-control" id="followUp" />
        </div>
    </div>
    <div class="mb-3">
        <label for="phoneNumber">Phone Number:</label>
        <InputText class="form-control" id="phoneNumber" @bind-Value="newApplication.PhoneNumber" />
    </div>
    <div class="mb-3">
        <label for="status">Status:</label>
        <InputText class="form-control" id="status" @bind-Value="newApplication.Status" />
    </div>
    <div class="mb-3">
        <label for="notes">Notes:</label>
        <InputTextArea class="form-control" id="notes" @bind-Value="newApplication.Notes" />
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary me-1" type="submit">Submit</button>
    </div>
</EditForm>

@code {
    private Applications newApplication = new Applications();
    private void HandleValidSubmit()
    {
        DatabaseHelper.AddApplication(newApplication);
        newApplication = new Applications();
        Navigation.NavigateTo("/");
        
    }
}